dist/*
build/*
data/decompiler_out/*
data/iso_data/*
data/log/game.txt
data/extractor.log
data/out/*
appicon.png
data/log/compiler.txt
*.exe
!gk.exe
!Randomizer.exe
!goalc.exe
!extractor.exe
resources/data/log/compiler.txt
